body{
    background-image: url("https://images.unsplash.com/photo-1475762638009-d74671ecd29b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

table{
    border: 2px solid rgba(0, 99, 0,0.7);
}

#ip{
    position: absolute;
    width: 50vw;
    margin-top:2%;
    margin-bottom:3%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom:1px solid gray;
    top: 45%;
    left: 20%;
    background-color: white;
    height: 7vh;
    border-radius: 3px;
    z-index: 10;

}
#getnut{
    background-color: rgb(158, 54, 6);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom:2px solid rgb(158, 54, 6);
    border-radius: 10px;
    width: 5%;
    height: 8vh;
    margin-left: 72%;
    margin-top: 17.2%;
    

}
#output{
    
    align-items: center;
    margin-top: 10%;
    height: 100vh;
    margin-left: 22%;
    color: white;
    padding: 2%;
    width: 50vw;
    font-size: 25px;
    text-align: center;


}

#again{
    background-color:  rgba(0, 99, 0,0.9);
    width: 8vw;
    height: 6vh;
    font-size: 18px;
    border: 2px solid rgb(1, 65, 1);
    margin-left: 40%;
    border-radius: 5px;
    color: white;
}
#one
{
    background: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
 
}
#one1
{
    color: white;
    border-left: 6px solid white;
    height: auto;
    margin-left: 2%;
    font-size: 30px;
    padding-top: 2%; 
    color: white;
}
a:link, a:visited 
{
    float: right;
    color: white);
    font-size: 30px;
    font-weight: bold;
    padding: 1px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active
 {
    color: blue;
  }
 